<dl>
  <dt>What is Collective Academy?</dt>
  <dd>We are part of <a href="http://camdencollective.co.uk/">Collective</a>, run by Camden Town Unlimited, the Business Improvement District for Camden Town.</dd>

  <dt>What courses are offered at Collective Academy?</dt>
  <dd>The first cohort on our full-time 6-week <a href="http://camdencollective.co.uk/academy/">Coding the web</a> course starts in January 2014. More courses are planned.</dd>

  <dt>Who are the courses suitable for?</dt>
  <dd>Our courses are for you if you are thinking about a career as a software developer. Or you want to be able to use software in your work. Or you want to work on your own software projects for fun or profit.</dd>

  <dt>How much does it cost to attend Collective Academy?</dt>
  <dd>Courses are currently free to individuals. We hope to keep it that way.</dd>

  <dt>I like the sound of this, but I cannot study full-time. Are you offering any other courses?</dt>
  <dd>We will be. Please <a href="mailto:collective-academy+subscribe@googlegroups.com" target="_blank">join our mailing list</a>. We are concentrating on the full-time course for now, but we will be doing part-time versions of the course soon.</dd>

  <dt>Are there any restrictions on who can apply to study at Collective Academy?</dt>
  <dd>Anyone over the age of 18 can apply. Some applicants might get priority if they meet the criteria of our funding partners.</dd>

  <dt>What are the entry requirements?</dt>
  <dd>There are no academic requirements, but not everyone will be suited to the style of learning our courses require. You need to be self-motivated and committed to collaborative working. Coding also requires a certain analytical way of thinking that comes easier to some people than others. Above all, you need to follow the First Rule of Collective.</dd>

  <dt>Who does the teaching?</dt>
  <dd>There are no teachers, but we do have a course facilitator, who creates the course curricula, sets assignments, answers questions, pair programs with you, leads code reviews, helps you choose projects to work on, acts as a sounding board for ideas, and ensures that the environment is conducive to serious study and creative collaboration.</dd>

  <dt>What happens after a course ends?</dt>
  <dd>You will join our alumni network. We will be developing a full programme of continuing education and invited speakers. We encourage you to self-organise into study groups, for which we will provide advice, support, space and mentoring. We want to help you achieve your educational, vocational and work goals, whatever they may be.</dd>

   <dt>I want to work on my own startup idea after the course. Can you help?</dt>
  <dd>Alumni of the Academy who are serious about starting up their own business can get fast-track membership of Collective with all the benefits that provides, including free hot-desking space, participation in the Accelerator programme and access to a wider community of fellow founders and business mentors.</dd>

  <dt>How do I apply?</dt>
  <dd>The application form is <a href="http://camdencollective.co.uk/academy/">here</a>.</dd>

  <dt>I am an experienced coder and want to get involved.</dt>
  <dd>We want to hear from you. We are particularly keen to hear from you if you are interested in speaking to our students and alumni about your particular area of expertise or in acting as a mentor. <a href="mailto:academy@collective-academy.com" target="_blank">Please get in touch. </a></dd>
  
  <dt>I am from a company interested in meeting your students and alumni.</dt>
  <dd>We want to hear from you. We are particularly keen to hear from you if you are interested in coming to speak to us about your company, the work you do, and the skills that your company needs. <a href="mailto:academy@collective-academy.com" target="_blank">Please get in touch</a>. </dd>
  
</dl>